In [ ]:
## İPUÇLARI ##

Veri Tipi---Kisaltma    -----    Örnekler          
----------------------------------------------------------|
Integer---   int     ----       8, 13                     |
Float  ---  float    ----     1.5, 9.0                    |
String ---   str    ----     "D7k", '6'                   |
Boolean---   bool   ----     True, False                  |
List  ----  list    ----     [1,2,True, 'a', 1]           |  
Set   ----  set     ---       {1,2,True, 'a'}             |
Dictionary-- dict  --- {'isim': 'lora, 'yaş': 21}         |
Tuple ------ tup   ---       (1, 2, True)                 |
----------------------------------------------------------|

Aşağıdaki hücrelerde bulunan, işlemleri 'print' komutunu kullanarak ekrana yazdırınız.

In [ ]:
# 4 ve 8'in toplamını print ile yazdırınız.

In [ ]:
# 9 ve 32 ün çarpımını print ile yazdırınız.

In [ ]:
# 7 ve 2'nin bölümünden kalanı print ile yazdırınız.[İpucu:%]

Aşağıdaki hücreleri kullanarak, işlemlerin hangi veri tipi olduğunu belirtiniz.

In [ ]:
# 5.7 ve 9.3 toplamının veri tipini belirtiniz.

In [ ]:
#4.5 ve 6.0 toplamını print komutu ile yazdırınız.

# Boolean #

In [ ]:
X= True
Y= False
Z='True'

In [ ]:
# X==Y ifadesinin cevabını ne olarak değerlendirir?

In [ ]:
#Z==X ifadesinin cevabını ne olarak değerlendirir?

In [ ]:
# X!==Y ifadesinin cevabını ne olarak değerlendirir?

In [ ]:
# Type(4)==Type('4') ifadesinin cevabını ne olarak değerlendirir?

# Yazılar #

In [ ]:
stravar= 'Türk Hack Team'

Yukarıdaki değişkeni kullanarak, aşağıdaki hücrelerde bulunan işlemleri cevaplayınız.

In [ ]:
# "a" harfini index komutu kullanmadan cevaplandırınız. (İpucu: [])

In [ ]:
# "t" harfinin konumunu, index komutu kullanarak cevaplayınız.

# Listeler ve Setler #

In [ ]:
liste= [1, 'a', 2,'x', True, 4, 5, 'True']

Yukarıdaki değişkeni kullanarak, aşağıdaki hücrelerde bulunan, işlemleri cevaplayınız.

In [ ]:
# listenin son elemanı nasıl cevaplandırabiliriz?

In [ ]:
# Listenin 3. ve 5. elemanlarını içeren yeni bir liste oluşturunuz. (İpucu [::])

In [ ]:
# Listeyi metod kullanarak nasıl ters sıralandırabiliriz?

# Dictionary #

In [ ]:
# Dictionary oluştururken kullanılan anahtar ve değer çiftinin Python'daki karşılıkları nelerdir?

In [ ]:
Dict={'isim': 'lora', 'yaş':'21', 'yaşadığı yer':'londra',}

In [ ]:
# yukaradaki bilgileri kullanarak 21 değerine nasıl ulaşabiliriz?

In [ ]:
# Dict değişkenindeki londra değerine nasıl ulaşabiliriz?

# Genel Sorular #

In [ ]:
# String ifadelerinin içerisinde \t ile \n kullanmanın farkı nedir?

In [ ]:
# print komutu ile ve print komutsuz yazdırmanın farkları nedir?

In [ ]:
# Dictionary veri tipinin listeden farkı nedir?

In [ ]:
# Tuple ile liste arasındaki farklar nelerdir?

In [ ]:
# strvar.lower().upper() ifadesinin cevabi nedir?